.title {
    font-family: "Nunito";
    font-size: 15px;
}
.subtitle {
    font-family: "Nunito";
    font-size: 30px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
.nav {
    flex-direction: column;
}
.hidden {
    display: none;
}
.logo {
    max-width: 40%;
}
.nobullets {
    list-style-type: none;
}
.radius {
    border-radius: 12%;
    max-width: 350px;
    min-height: 400px;
    object-fit: none;
}
.ButtonBuy {
    background-color: white;
    border: 3px rgb(255, 106, 0) solid;
    border-radius: 0px 20px 20px 20px;
    height: 2rem;
    width: 5rem;
    text-align: center;
    padding: 2px;
}

.change:hover {
    background-color: rgb(255, 106, 0) solid;
    border: 3px rgb(255, 106, 0) solid;
    border-radius: 0px 20px 20px 20px;
    height: 2rem;
    width: 5rem;
    text-align: center;
    padding: 2px;
}
.ButtonAll {
    background-color: rgb(255, 106, 0);
    border-radius: 0px 20px 20px 20px;
    height: 2rem;
    width: 5rem;
    text-align: center;
    padding: 2px;
}
.container__all {
    display: flex;
    justify-content: flex-end;
}
.orange {
    color: rgb(255, 106, 0);
}
.shadow {
    -webkit-box-shadow: 0px 10px 13px -7px #cdc4c4,
        5px 5px 15px 5px rgba(234, 234, 234, 0.03);
    box-shadow: 0px 10px 13px -7px #cdc4c4,
        5px 5px 15px 5px rgba(234, 234, 234, 0.03);
}
.box {
    min-height: 100px;
}

.div-imagen {
    display: inline-block;
    position: relative;
    border-radius: 12%;
    background-color: darkgrey;
}

.div-imagen > div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 10px;
    margin: 0;
    font: 400;
}

.desvanecer:hover {
    opacity: 0.3;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    -ms-transition: opacity 300ms;
    transition: opacity 300ms;
}
.textimg:hover {
    color: white;
    font-family: "Nunito";
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
